* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}




/* app.css */
.main-content {
  padding-top: var(--nav-clear); /* computes exact navbar clearance */
  min-height: calc(100vh - 120px);
}

